body{
    margin: 0;
}
.header{
    background-color: whit;
   height: 80px;
}
li{
    list-style: none;
}
.logo{
    position: absolute;
    top:17;
    left:40;
}
.menu{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.menu-elements{
    margin: 0 30px;
    text-decoration: none;
    font-size: 14;
    font-family: 'Inter';
    line-height: 17px;
}
.container{
    display: flex;
    width: 1440px;
    height: 550px;
    padding-left: 40px;
    padding-top: 50px;
    margin: auto;
    
}
.block{
    width: 756px;
    height: 459px;
    border-radius: 32PX 0 0 32px;
    background-color: #DCE5E2;
    padding-left: 84;
    padding-top: 91;
}
.img{
    width: 647px;
    height: 550px;
    border-radius: 0 32px 32px 0;
}
.main-text{
    font-size: 58;
    font-family: 'Arial';
    font-weight: 500;
}
.button{
    border-radius: 30px;
    padding: 15px 65px;
    font-size: 18;
    border: 1px solid black;

}
.text{
    font-size: 42;
    font-family: 'Arial';
    text-align: center;
    margin-top: 120px;
}
.container-cards{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 1440px;
}
.text-card{
    font-size:22px;
    font-family: "Arial";
}
.price-card{
    font-size: 18;
}
.last-block{
    padding-top: 27px;
    padding-bottom: 43px;
    width: 1437px;
    height: 450px;
    background-color: #DCE5E2;
    margin: auto;
}
.img-last-block{
    width: 341px;
    display: block;
    margin: auto;
}
.text-last-block{
    font-size:42px;
    text-align: center;
}
.elem-last-block{
    width: 400px;
    height: 50px;
    margin: auto;
}
.type-phone{
    border-radius: 54px 0px 0px 54px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    
}
.content-input{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.subm{
    background-color: black;
    color:white;
    border-radius: 0px 54px 54px 0px;
    height: 30px;
}
.menu{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.vert-menu{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top:80px;
    margin-left: 80px;
}
.footer-elements{
    font-size: 17px;
    font-family: 'Times New Roman';
    line-height: 21px;
    text-decoration: none;
    color: black;
}
.footer-elements-first{
    font-size: 22px;
    font-family: Arial;
    text-decoration: none;
    color:black;
}
.logo-footer{
    width: 60px;

}
.logo-footer-block{
    margin-left: 78px;
margin-top: 30px;
position: absolute;
padding: 40;
}
